<%content_for :page_title do%>
	- Fale Conosco
<%end%>

<%content_for :head do%>
	<%=stylesheet_link_tag "internas" %>
	<%=stylesheet_link_tag "contato" %>
<%end%>

<div id="Header">
	<div id="Titulo">Obrigado!</div>
	<p id="Descricao"></p>
</div>	

<div id="Content">
	<p>
		Muito obrigado por entrar em contato.<br> 
		<br>
		Em breve nossa equipe entrará em contato.
	</p>
</div>
