<%content_for :page_title do%>
	- Indique para um amigo
<%end%>

<%content_for :head do%>
	<%=stylesheet_link_tag "internas" %>
	<%=stylesheet_link_tag "contato" %>
<%end%>

<div id="Header">
	<div id="Titulo">Obrigado!</div>
	<p id="Descricao"></p>
</div>	

<div id="Content">
	<p>
		Sua indicação foi feita com sucesso.<br> 
	</p>
</div>
