<%content_for :page_title do%>
	- Depoimentos - Envie o Seu!
<%end%>

<%content_for :head do%>
	<%=stylesheet_link_tag "internas" %>
	<%=stylesheet_link_tag "depoimentos" %>
<%end%>

<div id="Header">
	<div id="Titulo"><%=image_tag "titulos/depoimentos.png"%></div>
	<p id="Descricao" style="text-align:center;">Muito obrigado por nos enviar seu depoimento. Continue navegando no site.</p>
</div>	

