<div id="Banners">
	<ul>
		<li><%=link_to image_tag("banners/onde_encontrar.png"), revendas_path%></li>
		<li><%=link_to image_tag("banners/depoimentos.png"), depoimentos_path%></li>
		<li><%=link_to image_tag("banners/indique-nos.png"), new_indicate_path%></li>
		<li><%=image_tag "banners/blog_breve.png"%></li>
	</ul>
</div>