<div id="Footer">
	<div class="Container">
		<!-- <span class="Menu"><%=link_to "Termos de Uso", termos_uso_path%> . <%=link_to "Política de Qualidade", politica_qualidade_path%></span> -->
		<p class="Copyright">
			Nautilus © Todos os direitos reservados.<br>
			Rua da Bahia, 22 - Recreio Estoril<br>
			Atibaia - SP - CEP 12944060<br>
			+55 11 4411.1488<br>
		</p>
	</div>
</div>