	<div id="Noticias">
		<%@NoticiasHome.each do |n|%>
		<div id="Noticia">
			<div class="Foto"><%=image_tag(SERVIDOR + n.image.url("home"))%></div>
			<p><%=n.summary%></p>
			<span class="Botao"><%=link_to image_tag("btn_veja_mais_lar_home.jpg"), noticia_path(n)%></span>
		</div>
		<%end%>
	</div>